body {
font-family: sans-serif;
}

* { box-sizing: border-box;}

.title {
text-align: center;
font-size: 40px;
font-weight: 800;
background-color: gold;
margin: 20px 700px;

}

.image {
    width: auto;
    height: 450;
display: block; margin: 20px auto;
padding: 5px;
border: solid black;
background-color: gold;
}

.link {
font-size: 30px;
font-weight: 800;
background-color: lightblue;
display: block; margin: auto;
}

.description{
text-align: center;
font-size: 15px;
font-weight: 700;
color: purple;


}

.Ingredients {
color: purple;
font-size: 15px;
font-weight: 600;
width: 500px;
text-align: center;
background-color: gold;
margin: 5px auto;
padding: 20px;
border: black solid;

}

.list {
font-size: 25px;
font-weight: 800;
color: purple;
padding: 5px;
border: solid black;
background-color: gold;
height: auto;
width: 150px;
margin: auto
}

.chicken {
display: block; margin: auto;
width: auto;
height: 300;


}

.back {
background-color: yellow;
font-size: 20px;
display: block; margin: auto;
}

.page { margin: auto; }
